# -- Override name
nameOverride: ""
# -- Override fullname
fullnameOverride: ""

global:
  ingress:
    # -- Name of the [IngressClass](https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-class)
    # to use in Ingress routes.
    className: nginx
    # -- List of [FQDNs](https://de.wikipedia.org/wiki/Fully-Qualified_Host_Name) for this Ingress.
    # Note: All FQDNs will be used for Ingress hosts and TLS certificate.
    # The global setting overwrites this setting in subcharts.
    domains:
      - localhost
    certManager:
      # -- eMail address for ACME registration with Let's Encrypt. Only used for issuerType = namespace.
      issuerEmail: me@example.com
      # -- Type of [cert-manager](https://cert-manager.io/docs/) Issuer: Use either "namespace" or "cluster".
      issuerType: namespace
      # -- Name of the Issuer to use. For certManager.type = namespace
      # `letsencrypt-staging`, `letsencrypt-production` and `self-signed` are available.
      issuerName: letsencrypt-staging
    tls:
      # -- Specify a custom tls secret name. This my be overwritten by `ingress.tls.secretName` of subcharts.
      secretName:

  db:
    # -- Database host of the CKAN database.
    host: postgis
    # -- Database port of the CKAN database.
    port: 5432
    # -- Database name of the CKAN database.
    # This is used in the PostGIS chart for database initialization.
    # If set, this values will overwrite the value in the PostGIS chart.
    dbname: ckan_default
    # -- Postgres database username. This is the name of the default superuser database.
    # Used to set `POSTGRES_DB`, see [Postgres Docker docs](https://hub.docker.com/_/postgres/)
    # for more.
    # This is used in the PostGIS chart for database initialization.
    # If set, this values will overwrite the value in the PostGIS chart.
    postgresDbname: postgres
    auth:
      # -- Database username for the CKAN database.
      # This is used in the PostGIS chart for database initialization.
      # If set, this values will overwrite the value in the PostGIS chart.
      username: ckan
      # -- Database password for the CKAN database user.
      # This is used in the PostGIS chart for database initialization.
      # If set, this values will overwrite the value in the PostGIS chart.
      password: changeMe
      # -- Postgres database username. This is the username of the database superuser.
      # Used to set `POSTGRES_USERNAME`, see [Postgres Docker docs](https://hub.docker.com/_/postgres/)
      # for more.
      # This is used in the PostGIS chart for database initialization.
      # If set, this values will overwrite the value in the PostGIS chart.
      postgresUsername: postgres
      # -- Postgres database password. This is the password of the database superuser.
      # Used to set `POSTGRES_PASSWORD`, see [Postgres Docker docs](https://hub.docker.com/_/postgres/)
      # for more.
      # This is used in the PostGIS chart for database initialization.
      # If set, this values will overwrite the value in the PostGIS chart.
      postgresPassword: changeMe

  datastore:
    # -- CKAN datastore database host.
    # This is used in the PostGIS chart for database initialization.
    # If set, this values will overwrite the value in the PostGIS chart.
    host: postgis
    # -- CKAN datastore database port.
    # This is used in the PostGIS chart for database initialization.
    # If set, this values will overwrite the value in the PostGIS chart.
    port: 5432
    # -- CKAN datastore database name.
    # This is used in the PostGIS chart for database initialization.
    # If set, this values will overwrite the value in the PostGIS chart.
    dbname: datastore
    auth:
      rw:
        # -- CKAN datastore database read-write username.
        # This is used in the PostGIS chart for database initialization.
        # If set, this values will overwrite the value in the PostGIS chart.
        username: datastore_rw
        # -- CKAN datastore database read-write password.
        # This is used in the PostGIS chart for database initialization.
        # If set, this values will overwrite the value in the PostGIS chart.
        password: changeMe
      ro:
        # -- CKAN datastore database read-only username.
        # This is used in the PostGIS chart for database initialization.
        # If set, this values will overwrite the value in the PostGIS chart.
        username: datastore_ro
        # -- CKAN datastore database read-only password.
        # This is used in the PostGIS chart for database initialization.
        # If set, this values will overwrite the value in the PostGIS chart.
        password: changeMe

  datapusher:
    db:
      # -- Enable/disable PostgreSQL as database backend for
      # [Datapusher](https://github.com/ckan/datapusher#high-availability-setup).
      enabled: true
      # -- Jobs database host.
      # If set, this values will overwrite the value in the Datapusher chart.
      host: postgis
      # -- Jobs database port.
      # If set, this values will overwrite the value in the Datapusher chart.
      port: 5432
      # -- Jobs database name.
      # If set, this values will overwrite the value in the Datapusher chart.
      dbname: datapusher_jobs
      auth:
        # -- Jobs database username.
        # If set, this values will overwrite the value in the Datapusher chart.
        username: datapusher
        # -- Jobs database password.
        # If set, this values will overwrite the value in the Datapusher chart.
        password: changeMe

postgis:
  # -- Enable/disable database instance. Disable, if an external database is used.
  enabled: true

solr:
  # -- Enable/disable Apache Solr instance. Disable, if an external Solr instance is used.
  enabled: true

redis:
  # -- Enable/disable Redis instance. Disable, if an external Redis instance is used.
  enabled: true

datapusher:
  # -- Enable/disable Datapusher
  enabled: true

ingress-nginx:
  # -- Enable/disable Nginx ingress controller.
  enabled: false

cert-manager:
  # -- Enable/disable cert-manager.
  enabled: false

certIssuer:
  # -- Enable/disable namespace Issuers for cert-manager.
  enabled: true

clamav:
  # -- Enable/disable [ClamAV](https://www.clamav.net/) virus scanning of uploaded files.
  enabled: true

  fullnameOverride: clamav

  resources:
    limits:
      # -- [k8s: Resource management](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/)
      cpu: 1000m
      # -- [k8s: Resource management](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/)
      memory: 2Gi
    requests:
      # -- [k8s: Resource management](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/)
      cpu: 500m
      # -- [k8s: Resource management](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/)
      memory: 1Gi
