{{- if .Values.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ckan.fullname" . }}-sct-db
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "ckan.labels" . | nindent 4 }}
    app.kubernetes.io/part-of: sddi-ckan
    app.kubernetes.io/component: {{ .Values.component }}
type: Opaque
stringData:
  CKAN_SQLALCHEMY_URL: {{ include "ckan.sqlalchemy.url" . | quote }}
  CKAN_DATASTORE_WRITE_URL:
  CKAN_DATASTORE_READ_URL:
  CKAN_REDIS_URL:
{{- end -}}



# CONFIG_FROM_ENV_VARS = {
#     'sqlalchemy.url': 'CKAN_SQLALCHEMY_URL',
#     'ckan.datastore.write_url': 'CKAN_DATASTORE_WRITE_URL',
#     'ckan.datastore.read_url': 'CKAN_DATASTORE_READ_URL',
#     'ckan.redis.url': 'CKAN_REDIS_URL',
#     'solr_url': 'CKAN_SOLR_URL',
#     'solr_user': 'CKAN_SOLR_USER',
#     'solr_password': 'CKAN_SOLR_PASSWORD',
#     'ckan.site_id': 'CKAN_SITE_ID',
#     'ckan.site_url': 'CKAN_SITE_URL',
#     'ckan.storage_path': 'CKAN_STORAGE_PATH',
#     'ckan.datapusher.url': 'CKAN_DATAPUSHER_URL',
#     'smtp.server': 'CKAN_SMTP_SERVER',
#     'smtp.starttls': 'CKAN_SMTP_STARTTLS',
#     'smtp.user': 'CKAN_SMTP_USER',
#     'smtp.password': 'CKAN_SMTP_PASSWORD',
#     'smtp.mail_from': 'CKAN_SMTP_MAIL_FROM',
#     'ckan.max_resource_size': 'CKAN_MAX_UPLOAD_SIZE_MB'
# }
