# -- Enable/disable CKAN Datapusher
enabled: true

# -- Role of CKAN Datapusher in this chart
component: datapusher

# -- Override name
nameOverride: ""
# -- Override fullname
fullnameOverride: datapusher

image:
  # -- [Image repository](https://kubernetes.io/docs/concepts/containers/images/)
  repository: tumgis/ckan-datapusher
  # -- [Image pull policy](https://kubernetes.io/docs/concepts/containers/images/#image-pull-policy)
  pullPolicy: IfNotPresent
   # -- Overrides the image tag whose default is the chart `appVersion`.
  tag: ""

# -- [Image pull secrets](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/)
imagePullSecrets: []

initContainers:
  pgready:
    # -- Image used for testing PostgresSQL database readiness.
    image:
      repository: bwibo/k8s-init-container
      tag: latest

# -- Additional pod annotations
podAnnotations: {}

serviceAccount:
  # -- Specifies whether a service account should be created
  create: false
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- [k8s: Security context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/)
podSecurityContext: {}
  # fsGroup: 2000

# -- [k8s: Security context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/)
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# -- Extra environment variables. Values need to be quoted. This can be used to overwrite or
# extend [CKAN settings](https://docs.ckan.org/en/latest/maintaining/configuration.html#ckan-configuration-file).
# See [ckanext-envvars](https://github.com/okfn/ckanext-envvars) for variable naming conventions.
extraEnv: {}

service:
  # -- Type of service
  type: ClusterIP
  # -- Service port
  port: 8000

# -- Number of replicas. Only used if `autoscaling.enabled = false`.
replicaCount: 1
autoscaling:
  # -- Enable/disable pod autoscaling, if disabled `replicaCount` is used to set number of pods.
  # Check requirements of [HorizontalPodAutoscaling](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/).
  enabled: false
  # -- Minimum number of replicas
  minReplicas: 1
  # -- Maximum number of replicas
  maxReplicas: 5
  # -- [HorizontalPodAutoscaling](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/).
  targetCPUUtilizationPercentage:
  # -- [HorizontalPodAutoscaling](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/).
  targetMemoryUtilizationPercentage:

# Datapusher settings
# -- Maximum size of content to be uploaded in bytes.
maxContentLength: "10485760"
# -- Size of chunks of the data that is being downloaded in bytes
chunkSize: "16384"
# -- Number of rows to take from the data and upload them as chunks to datastore
insertRows: "250"
# -- Timeout limit of the download request
downloadTimeout: "30"
# -- Enable or disable (boolean) verification of SSL when trying to get resources. Default: True
datapusherSslVerify: False
# -- Enable or disable (boolean) whether Datapusher should rewrite resources uploaded to CKAN's filestore,
# since Datapusher takes the CKAN Site URL value for generating the resource URL.
# Default: False
datapusherRewriteResources: True
# -- Sets the rewrite URL that Datapusher will rewrite resources that are uploaded to CKAN's filestore.
# Default: http://ckan:5000
datapusherRewriteUrl: http://ckan:5000/
# -- SQLAlchemy Database URL for job store, see
# [Datapusher config](https://github.com/ckan/datapusher#datapusher-configuration) for more.
# Note: If `db.enabled` this setting is ignored.
databaseUri: 'sqlite:////tmp/job_store.db'

db:
  # -- Enable/disable PostgreSQL as database backend for
  # [Datapusher](https://github.com/ckan/datapusher#high-availability-setup).
  # If set to false, `databaseUri` is used.
  # Note: This values is overwritten by `global.datapusher.db.enabled`, if set.
  enabled: true
  # -- Jobs database host.
  # If set, this values will overwrite the value in the Datapusher chart.
  # Note: This values is overwritten by `global.datapusher.db.host`, if set.
  host: postgis
  # -- Jobs database port.
  # If set, this values will overwrite the value in the Datapusher chart.
  # Note: This values is overwritten by `global.datapusher.db.port`, if set.
  port: 5432
  # -- Jobs database name.
  # If set, this values will overwrite the value in the Datapusher chart.
  # Note: This values is overwritten by `global.datapusher.db.dbname`, if set.
  dbname: datapusher_jobs
  auth:
    # -- Jobs database username.
    # If set, this values will overwrite the value in the Datapusher chart.
    # Note: This values is overwritten by `global.datapusher.db.auth.username`, if set.
    username: datapusher
    # -- Jobs database password.
    # If set, this values will overwrite the value in the Datapusher chart.
    # Note: This values is overwritten by `global.datapusher.db.auth.password`, if set.
    password: changeMe



resources:
  limits:
    # -- [k8s: Resource management](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/)
    cpu: 1000m
    # -- [k8s: Resource management](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/)
    memory: 500Mi
  requests:
    # -- [k8s: Resource management](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/)
    cpu: 250m
    # -- [k8s: Resource management](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/)
    memory: 256Mi

# -- [k8s: Assign pods to nodes](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/)
nodeSelector: {}
# -- [k8S: Taints and tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/)
tolerations: []
# -- [k8s: Assign pods to nodes](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/)
affinity: {}
