{{- if .Values.enabled -}}
{{- if not .Values.persistence.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ckan.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "ckan.labels" . | nindent 4 }}
    app.kubernetes.io/part-of: sddi-ckan
    app.kubernetes.io/component: {{ .Values.component }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "ckan.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ .Values.component }}
  template:
    metadata:
      labels:
        {{- include "ckan.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: {{ .Values.component }}
      annotations:
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        checksum/configmap-env: {{ include (print $.Template.BasePath "/ckan-configMap-env.yml") . | sha256sum }}
        checksum/secret-db: {{ include (print $.Template.BasePath "/ckan-sct-db.yml") . | sha256sum }}
        checksum/secret-smtp: {{ include (print $.Template.BasePath "/ckan-sct-smtp.yml") . | sha256sum }}
        checksum/secret-solr: {{ include (print $.Template.BasePath "/ckan-sct-solr.yml") . | sha256sum }}
        checksum/secret-session: {{ include (print $.Template.BasePath "/ckan-sct-session.yml") . | sha256sum }}
        checksum/secret-api-token: {{ include (print $.Template.BasePath "/ckan-sct-api-token.yml") . | sha256sum }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "ckan.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}

      volumes:
        - name: data
          emptyDir: {}

      initContainers:
      - name: init-data
        image: busybox
        command: ["sh", "-c", "chown -Rv 92:92 {{ .Values.persistence.storagePath }}"]
        # securityContext:
        #   runAsUser: 0
        #   runAsGroup: 0

        volumeMounts:
        - name: data
          mountPath: {{ .Values.persistence.storagePath }}
          readOnly: false

      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP

          volumeMounts:
          - name: data
            mountPath: {{ .Values.persistence.storagePath }}
            readOnly: false

          envFrom:
            - configMapRef:
                name: {{ include "ckan.fullname" . }}-env
            - secretRef:
                name: {{ include "ckan.fullname" . }}-sct-db
            - secretRef:
                name: {{ include "ckan.fullname" . }}-sct-smtp
            - secretRef:
                name: {{ include "ckan.fullname" . }}-sct-solr
            - secretRef:
                name: {{ include "ckan.fullname" . }}-sct-session
            - secretRef:
                name: {{ include "ckan.fullname" . }}-sct-api-token
            {{ if .Values.sysadmin.enabled }}
            - secretRef:
                name: {{ include "ckan.fullname" . }}-sct-sysadmin
            {{ end }}

          startupProbe:
            httpGet:
              path: /api/3/action/status_show
              port: 5000
            initialDelaySeconds: {{ .Values.startup.initialDelaySeconds }}
            periodSeconds: {{ .Values.startup.periodSeconds }}
            failureThreshold: {{ .Values.startup.failureThreshold }}
            timeoutSeconds: {{ .Values.startup.timeoutSeconds }}

          readinessProbe:
            httpGet:
              path: /api/3/action/status_show
              port: 5000
            initialDelaySeconds: {{ .Values.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.readiness.periodSeconds }}
            failureThreshold: {{ .Values.readiness.failureThreshold }}
            timeoutSeconds: {{ .Values.readiness.timeoutSeconds }}

          livenessProbe:
            httpGet:
              path: /api/3/action/status_show
              port: 5000
            initialDelaySeconds: {{ .Values.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.liveness.periodSeconds }}
            failureThreshold: {{ .Values.liveness.failureThreshold }}
            timeoutSeconds: {{ .Values.liveness.timeoutSeconds }}

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end -}}
{{- end -}}
