{{- if .Values.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ckan.fullname" . }}-env
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "ckan.labels" . | nindent 4 }}
    app.kubernetes.io/part-of: sddi-ckan
    app.kubernetes.io/component: database
data:
  # Native CKAN env vars ------------------------------------------------------
  CKAN_SITE_ID: {{ .Values.siteId | quote }}
  CKAN_SITE_URL: {{ .Values.siteUrl | quote }}
  CKAN_MAX_UPLOAD_SIZE_MB: {{ .Values.maxUploadSizeMB | quote }}
  # Storage path
  CKAN_STORAGE_PATH: {{ .Values.persistence.storagePath | quote }}

  # Additional env vars using ckanext-envvars ---------------------------------
  # https://github.com/okfn/ckanext-envvars
  # Auth settings
  CKAN__AUTH__ANON_CREATE_DATASET: {{ .Values.auth.anon_create_dataset | quote }}
  CKAN__AUTH__CREATE_UNOWNED_DATASET: {{ .Values.auth.create_unowned_dataset | quote }}
  CKAN__AUTH__CREATE_DATASET_IF_NOT_IN_ORGANIZATION : {{ .Values.auth.create_dataset_if_not_in_organization | quote }}
  CKAN__AUTH__USER_CREATE_GROUPS: {{ .Values.auth.user_create_groups | quote }}
  CKAN__AUTH__USER_CREATE_ORGANIZATIONS: {{ .Values.auth.user_create_organizations | quote }}
  CKAN__AUTH__USER_DELETE_GROUPS: {{ .Values.auth.user_delete_groups | quote }}
  CKAN__AUTH__USER_DELETE_ORGANIZATIONS: {{ .Values.auth.user_delete_organizations | quote }}
  CKAN__AUTH__CREATE_USER_VIA_API: {{ .Values.auth.create_user_via_api | quote }}
  CKAN__AUTH__CREATE_USER_VIA_WEB: {{ .Values.auth.create_user_via_web | quote }}
  CKAN__AUTH__ROLES_THAT_CASCADE_TO_SUB_GROUPS: {{ .Values.auth.roles_that_cascade_to_sub_groups | quote }}
  CKAN__AUTH__PUBLIC_USER_DETAILS: {{ .Values.auth.public_user_details | quote }}
  CKAN__AUTH__PUBLIC_ACTIVITY_STREAM_DETAIL: {{ .Values.auth.public_activity_stream_detail | quote }}
  CKAN__AUTH__ALLOW_DATASET_COLLABORATORS: {{ .Values.auth.allow_dataset_collaborators | quote }}
  CKAN__AUTH__CREATE_DEFAULT_API_KEYS: {{ .Values.auth.create_default_api_keys | quote }}
  # Plugins
  {{ if .Values.plugins -}}
  CKAN__PLUGINS: {{ .Values.plugins | quote }}
  {{- end }}
  # Site customization settings
  CKAN__SITE_TITLE: {{ .Values.siteTitle | quote }}
  CKAN__SITE_DESCRIPTION: {{ .Values.siteDescription | quote }}
  CKAN__SITE_INTRO_TEXT: {{ .Values.siteIntroText | quote }}
  CKAN__SITE_INTRO_PARAGRAPH: {{ .Values.siteIntroParagraph | quote }}
  CKAN__BACKGROUND_IMAGE: {{ .Values.backgroundImage | quote }}
  CKAN__SITE_LOGO: {{ .Values.siteLogo | quote }}
  CKAN__FAVICON: {{ .Values.favicon | quote }}
  CKAN__SITE_ABOUT: {{ .Values.siteAbout | quote }}
  CKAN___LICENSES_GROUP_URL: {{ .Values.licensesGroupUrl | quote }}
  # SDDI CKAN settings
  CKAN__GROUPHIERARCHY__INIT_DATA: {{ .Values.sddiInitDataJson | quote }}
  # Locale settings
  CKAN__LOCALE_DEFAULT: {{ .Values.locale.default | quote }}
  CKAN__LOCALE_ORDER: {{ .Values.locale.order | quote }}
  CKAN__LOCALES_OFFERED: {{ .Values.locale.offered | quote }}
  CKAN__LOCALES_FILTERED_OUT: {{ .Values.locale.filtered_out | quote }}
  # Datapusher
  CKAN__DATAPUSHER__CALLBACK_URL_BASE: {{ .Values.datapusher.callback_url_base | quote }}
  CKAN__DATAPUSHER__FORMATS: {{ .Values.datapusher.formats | quote }}
  # Featured settings
  CKAN__FEATURED_GROUPS: {{ .Values.featured.groups | quote }}
  CKAN__FEATURED_ORGS: {{ .Values.featured.orgs | quote }}
  # Activity stream settings
  CKAN__ACTIVITY_STREAMS_ENABLED: {{ .Values.activityStreams.enabled | quote }}
  CKAN__ACTIVITY_STREAMS_EMAIL_NOTIFICATIONS: {{ .Values.activityStreams.emailNotifications | quote }}
  # Views and preview settings
  CKAN__VIEWS__DEFAULT_VIEWS: {{ .Values.defaultViews | quote }}
  CKAN__PREVIEW__TEXT_FORMATS: {{ .Values.preview.textFormats | quote }}
  CKAN__PREVIEW__XML_FORMATS: {{ .Values.preview.xmlFormats | quote }}
  CKAN__PREVIEW__JSON_FORMATS: {{ .Values.preview.jsonFormats | quote }}
  CKAN__PREVIEW__JSONP_FORMATS: {{ .Values.preview.jsonpFormats | quote }}
  CKAN__PREVIEW__IMAGE_FORMATS: {{ .Values.preview.imageFormats | quote }}
  # Security
  CKANEXT__SECURITY__REDIS__HOST: {{ .Values.security.redis.host | quote }}
  CKANEXT__SECURITY__REDIS__PORT: {{ .Values.security.redis.port | quote }}
  CKANEXT__SECURITY__REDIS__DB: {{ .Values.security.redis.db | quote }}
  # Others
  CKAN__DATASET__CREATE_ON_UI_REQUIRES_RESOURCES: {{ .Values.form.create_on_ui_requires_resources | quote }}
  {{- if .Values.webassets.path }}
  CKAN__WEBASSETS__PATH: {{ .Values.webassets.path | quote }}
  {{- end }}
  {{- if .Values.clamav.enabled }}
  # CKANEXT__CLAMAV__SOCKET_PATH: /your/path/to/socket.file
  CKANEXT__CLAMAV__UPLOAD_UNSCANNED: {{ .Values.clamav.uploadUnscanned | quote }}
  CKANEXT__CLAMAV__SOCKET_TYPE: tcp
  CKANEXT__CLAMAV__TCP__HOST: {{ .Values.clamav.host | quote }}
  CKANEXT__CLAMAV__TCP__PORT: {{ .Values.clamav.port | quote }}
  CKANEXT__CLAMAV__TIMEOUT: {{ .Values.clamav.timeout | quote }}
  {{- end }}
  # Additional env vars from values.yaml
  {{- with .Values.extraEnv }}
    {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end -}}
