{{- if .Values.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ckan.fullname" . }}-sct-smtp
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "ckan.labels" . | nindent 4 }}
    app.kubernetes.io/part-of: sddi-ckan
    app.kubernetes.io/component: {{ .Values.component }}
type: Opaque
stringData:
  CKAN_SMTP_SERVER: {{ .Values.smtp.server | quote }}
  CKAN_SMTP_STARTTLS: {{ .Values.smtp.startTls | quote }}
  CKAN_SMTP_USER: {{ .Values.smtp.user | quote }}
  CKAN_SMTP_PASSWORD: {{ .Values.smtp.password | quote }}
  CKAN_SMTP_MAIL_FROM: {{ .Values.smtp.mailFrom | quote }}
{{- end -}}
