{{- if .Values.enabled -}}
{{- if .Values.ingress.enabled -}}
{{- $fullName := include "ckan.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
{{- $domains:= coalesce .Values.global.ingress.domains .Values.ingress.domains }}
{{- if empty $domains }}
{{- fail "No ingress domains specified. Set either .Values.global.inress.domains[] or .Values.inress.domains[]." }}
{{- end }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "ckan.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "ckan.labels" . | nindent 4 }}
    app.kubernetes.io/part-of: sddi-ckan
    app.kubernetes.io/component: {{ .Values.component }}
  annotations:
    {{- if (and (not (empty (coalesce .Values.global.ingress.certManager.issuerName .Values.ingress.certManager.issuerName )))
    (eq (coalesce .Values.global.ingress.certManager.issuerType .Values.ingress.certManager.issuerType) "cluster")) }}
    cert-manager.io/cluster-issuer: {{ .Values.global.ingress.certManager.issuerName | default .Values.ingress.certManager.issuerName | quote }}
    {{- end }}
    {{- if (and (not (empty (coalesce .Values.global.ingress.certManager.issuerName .Values.ingress.certManager.issuerName )))
    (eq (coalesce .Values.global.ingress.certManager.issuerType .Values.ingress.certManager.issuerType) "namespace")) }}
    cert-manager.io/issuer: {{ .Values.global.ingress.certManager.issuerName | default .Values.ingress.certManager.issuerName | quote }}
    {{- end }}
    nginx.ingress.kubernetes.io/rewrite-target: "/$1"
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    nginx.ingress.kubernetes.io/proxy-body-size: "{{ .Values.maxUploadSizeMB }}m"
    nginx.org/client-max-body-size: "{{ .Values.maxUploadSizeMB }}m"
    {{- range .Values.ingress.configurationSnippet }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      {{ . | quote }}
    {{- end }}
    {{- if .Values.ingress.stickySessions.enabled }}
    # https://kubernetes.github.io/ingress-nginx/examples/affinity/cookie/
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/affinity-mode: {{ .Values.ingress.stickySessions.sessionCookie.affinityMode | quote }}
    nginx.ingress.kubernetes.io/session-cookie-name: {{ .Values.ingress.stickySessions.sessionCookie.name | quote }}
    nginx.ingress.kubernetes.io/session-cookie-max-age: {{ .Values.ingress.stickySessions.sessionCookie.maxAge | quote }}
    nginx.ingress.kubernetes.io/session-cookie-secure: {{ .Values.ingress.stickySessions.sessionCookie.secure | quote }}
    nginx.ingress.kubernetes.io/session-cookie-path: {{ .Values.ingress.stickySessions.sessionCookie.path | quote }}
    nginx.ingress.kubernetes.io/session-cookie-change-on-failure: {{ .Values.ingress.stickySessions.sessionCookie.changeOnFailure | quote }}
    {{- end }}
    {{- if .Values.ingress.cors.enabled }}
    nginx.ingress.kubernetes.io/enable-cors: "true"
    {{- end }}
spec:
  ingressClassName: {{ .Values.global.ingress.className | default .Values.ingress.className }}
  tls:
  - hosts:
  {{- range $domains }}
    - {{ . }}
  {{- end }}
    secretName: {{ (coalesce .Values.ingress.tls.secretName .Values.global.ingress.tls.secretName (printf "%s-%s" (first $domains) "tls" )) | quote }}
  rules:
  {{- range $domains }}
  - host: {{ . }}
    http:
      paths:
      - path: /(.*)
        pathType: Prefix
        backend:
          service:
            name: {{ $fullName }}
            port:
              number: {{ $svcPort }}
  {{- end }}
{{- end -}}
{{- end -}}
