{{- if .Values.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "datapusher.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "datapusher.labels" . | nindent 4 }}
    app.kubernetes.io/part-of: sddi-ckan
    app.kubernetes.io/component: {{ .Values.component }}
spec:
  type: {{ .Values.service.type }}
  selector:
      {{- include "datapusher.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ .Values.component }}
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: 8000
{{- end -}}
