# -- Enable/disable PostGIS database
enabled: true

# -- Role of PostGIS database in this chart
component: database

# -- Override name
nameOverride: ""
# -- Override fullname
fullnameOverride: postgis

loadBalancer:
  # -- Create a LoadBalancer service for external Database access
  enabled: false

image:
  # -- [Image repository](https://kubernetes.io/docs/concepts/containers/images/)
  repository: postgis/postgis
  # -- [Image pull policy](https://kubernetes.io/docs/concepts/containers/images/#image-pull-policy)
  pullPolicy: IfNotPresent
  # -- Overrides the image tag whose default is the chart `appVersion`.
  tag: ""

# -- [Image pull secrets](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/)
imagePullSecrets: []

# -- Additional pod annotations
podAnnotations: {}

serviceAccount:
  # -- Specifies whether a service account should be created
  create: false
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- [k8s: Security context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/)
podSecurityContext: {}
  # fsGroup: 2000

# -- [k8s: Security context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/)
securityContext:
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 72

db:
  # -- Database port. Note: This values is overwritten by `global.db.port`, if set.
  port: 5432
  # -- Database name of the CKAN database.
  # Note: This values is overwritten by `global.db.dbname`, if set.
  dbname: ckan_default
  # -- Postgres database username. This is the name of the default superuser database.
  # Used to set `POSTGRES_DB`, see [Postgres Docker docs](https://hub.docker.com/_/postgres/)
  # for more.
  # Note: This values is overwritten by `global.db.postgresDbname`, if set.
  postgresDbname: postgres
  auth:
    # -- Database username for the CKAN database.
    # Note: This values is overwritten by `global.db.auth.username`, if set.
    username: ckan
    # -- Database password for the CKAN database user.
    # Note: This values is overwritten by `global.db.auth.password`, if set.
    password: changeMe
    # -- Postgres database username. This is the username of the database superuser.
    # Used to set `POSTGRES_USERNAME`, see [Postgres Docker docs](https://hub.docker.com/_/postgres/)
    # for more.
    # Note: This values is overwritten by `global.db.auth.postgresUsername`, if set.
    postgresUsername: postgres
    # -- Postgres database password. This is the password of the database superuser.
    # Used to set `POSTGRES_PASSWORD`, see [Postgres Docker docs](https://hub.docker.com/_/postgres/)
    # for more.
    # Note: This values is overwritten by `global.db.auth.postgresPassword`, if set.
    postgresPassword: changeMe

datastore:
  # -- CKAN datastore database name. Note: This values is overwritten by `global.datastore.dbname`, if set.
  dbname: datastore
  auth:
    ro:
      # -- CKAN datastore database read-only username.
      # Note: This values is overwritten by `global.datastore.auth.ro.username`, if set.
      username: datastore_ro
      # -- CKAN datastore database read-only password.
      # Note: This values is overwritten by `global.datastore.auth.ro.password`, if set.
      password: changeMe
    rw:
      # -- CKAN datastore database read-write username.
      # Note: This values is overwritten by `global.datastore.auth.rw.username`, if set.
      username: datastore_rw
      # -- CKAN datastore database read-write password.
      # Note: This values is overwritten by `global.datastore.auth.rw.password`, if set.
      password: changeMe

datapusher:
  # -- CKAN Datapusher+ database host
  host: postgis
  # -- CKAN Datapusher+ database port
  port: 5432
  # -- CKAN Datapusher+ database name
  dbname: datapusher_jobs
  auth:
    # -- CKAN Datapusher+ database username
    username: datapusher
    # -- CKAN Datapusher+ database password
    password: changeMe

# -- Extra environment variables for PostGIS.
extraEnv: {}

persistence:
  # -- StorageClass to use, leave empty to use default StorageClass.
  storageClassName:
  # -- Mount path of the storage. Omit trailing `/` !
  mountPath: /mydata
  # -- Subpath inside `mountPath` for the postgres data folder
  pgdataSubPath: /pgdata
  # -- Storage [access modes](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes)
  accessModes:
    - ReadWriteOnce
  # -- Storage [capacity](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#capacity)
  capacity: 4Gi
  # -- Additional annotations for PVC
  # Set helm.sh/resource-policy: keep to avoid deletion of PVC on helm upgrade/uninstall
  annotations: {}
    # helm.sh/resource-policy: keep

debug:
  # -- Enable/disable query logging
  queryLogging: false

# -- [k8s: Resource management](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/)
resources: {}
# -- [k8s: Assign pods to nodes](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/)
nodeSelector: {}
# -- [k8S: Taints and tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/)
tolerations: []
# -- [k8s: Assign pods to nodes](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/)
affinity: {}
